<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">

        <div class="header-section" th:replace="common/header :: header"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                首页配置
            </h3>
            <ul class="breadcrumb">
                <li> 主页管理 </li>
                <li class="active"> 首页配置 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row state-overview">
                <div class="col-md-12">
                    <button class="panel deep-purple-box" style="width: 100%" th:onclick="|location='@{/slide}'|">
                        <h2>
                            轮播图管理
                        </h2>
                    </button>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--tree-->
<script src="js/fuelux/js/tree.min.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>



</body>
</html>
