<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">
        <th:block th:replace="common/header :: header" />

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            导航菜单
                            <!--<span class="tools pull-right">-->
                                <!--<a class="fa fa-chevron-down" href="javascript:;"></a>-->
                                <!--<a class="fa fa-times" href="javascript:;"></a>-->
                            <!--</span>-->
                        </div>
                        <div class="panel-body">
                            <div id="FlatTree" class="tree tree-plus-minus">
                                <div class = "tree-folder" style="display:none;">
                                    <div class="tree-folder-header">
                                        <i class="fa fa-folder"></i>
                                        <div class="tree-folder-name"></div>
                                    </div>
                                    <div class="tree-folder-content"></div>
                                    <div class="tree-loader" style="display:none"></div>
                                </div>

                                <div class="tree-item" style="display:none;">
                                    <i class="tree-dot"></i>
                                    <div class="tree-item-name"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--tree-->
<script src="js/fuelux/js/tree.min.js"></script>
<!--<script src="js/tree-init.js"></script>-->

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<script th:inline="javascript">
    // jQuery(document).ready(function() {
    //     TreeView.init();
    // });

    jQuery(function($){
        $('#FlatTree').tree({
            dataSource: treeDataSource,
            multiSelect:true,
            loadingHTML: '<img src="images/input-spinner.gif"/>'
        });
    });

    var DataSourceTree = function(options) {
        this._data 	= options.data;
        this._delay = options.delay;
    }

    DataSourceTree.prototype.data = function(options, callback) {
        var $data = null;

        if(!("name" in options) && !("type" in options)){
            $data = this._data;//the root tree
            callback({ data: $data });
            return;
        }
        else if("type" in options && options.type == "folder") {
            if("additionalParameters" in options && "children" in options.additionalParameters)
                $data = options.additionalParameters.children;
            else $data = {}//no data
        }

        if($data != null)//this setTimeout is only for mimicking some random delay
            setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 100) + 100);
    };

    var navigationTrees = [[${navigationTrees}]];

    var treeDataSource = new DataSourceTree({data: navigationTrees});
</script>

</body>
</html>
