<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">

        <th:block th:replace="common/header :: header" />

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            关联导航菜单
                        </header>
                        <div class="panel-body">
                            <div class="form-group">

                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            主题及样式
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="form-horizontal bucket-form" method="get">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">页脚链接主题</label>
                                        <div class="col-sm-9 icheck ">
                                            <div class="flat-grey single-row">
                                                <div class="radio ">
                                                    <input id="footer_gray" tabindex="3" type="radio" name="footerLinkStyle" th:checked="${page.footerLinkStyle != 1}">
                                                    <label for="footer_gray"> 浅灰色</label>
                                                </div>
                                            </div>

                                            <div class="flat-blue single-row">
                                                <div class="radio ">
                                                    <input id="footer_blue" tabindex="3" type="radio" name="footerLinkStyle" th:checked="${page.footerLinkStyle == 1}">
                                                    <label for="footer_blue"> 深蓝色 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            页面模块
                        </header>
                        <div class="panel-body">
                            <div class="icheck ">
                                <div class="flat-green single-row">
                                    <div class="radio ">
                                        <input id="children" type="checkbox" >
                                        <label for="children">显示子菜单介绍链接 </label>
                                    </div>
                                </div>
                                <div class="flat-green single-row">
                                    <div class="radio ">
                                        <input id="customer_form" type="checkbox" th:checked="${page.customerForm == 1}">
                                        <label for="customer_form">加入联系方式提交表单 </label>
                                    </div>
                                </div>
                                <div class="flat-green single-row">
                                    <div class="radio ">
                                        <input id="news" type="checkbox" >
                                        <label for="news">加入新闻搜索列表 </label>
                                    </div>
                                </div>
                                <div class="flat-green single-row">
                                    <div class="radio ">
                                        <input id="production" type="checkbox" >
                                        <label for="production">加入产品搜索列表 </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            段落列表
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <a id="editable-sample_new" class="btn btn-primary" href="#addModal" data-toggle="modal">
                                            新增 <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped table-hover" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>顺序</th>
                                        <th>内容</th>
                                        <th>类型</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="paragraph: ${page.paragraphs}" th:object="${paragraph}">
                                        <td th:text="*{id}" hidden></td>
                                        <td th:text="*{seq}"></td>
                                        <td th:text="*{text}"></td>
                                        <td>
                                            <span th:if="*{type== 1 && style eq 'intro-copy'}" class="label label-primary">小标题</span>
                                            <span th:if="*{type != 1 && style eq 'intro-copy'}" class="label label-success">概要文字</span>
                                            <span th:if="*{type != 1 && style==null}" class="label label-info">正文</span>
                                        </td>
                                        <td>
                                            <div style="min-width: 121px">
                                                <div class="btn-group btn-group-sm">
                                                    <a class="btn btn-info" href="#modifyModal" data-toggle="modal"><i class="fa fa-edit"></i> 编辑 </a>
                                                    <a class="btn btn-danger" href="#deleteModal" data-toggle="modal"><i class="fa fa-trash-o"></i> 删除 </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            页脚链接列表
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#addModal" data-toggle="modal">
                                            新增 <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped table-hover" id="dynamic-table1">
                                    <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>标题</th>
                                        <th>副标题</th>
                                        <th>类型</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="footerLink: ${page.footerLinks}" th:object="${footerLink}">
                                        <td th:text="*{id}" hidden></td>
                                        <td th:text="*{title}"></td>
                                        <td th:text="*{desc}"></td>
                                        <td>
                                            <span th:text="*{contentType.name}"></span>
                                        </td>
                                        <td>
                                            <div style="min-width: 121px">
                                                <div class="btn-group btn-group-sm">
                                                    <a class="btn btn-info" href="#modifyModal" data-toggle="modal"><i class="fa fa-edit"></i> 编辑 </a>
                                                    <a class="btn btn-danger" href="#deleteModal" data-toggle="modal"><i class="fa fa-trash-o"></i> 删除 </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>



        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>



<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/localization/messages_zh.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>

<!--file upload-->
<script type="text/javascript" th:src="@{/js/bootstrap-fileupload.min.js}"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization -->
<script th:src="@{/js/dynamic_table_init.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}"></script>

<!--icheck -->
<script th:src="@{/js/iCheck/jquery.icheck.js}"></script>
<script th:src="@{/js/icheck-init.js}"></script>

</body>
</html>
