<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>后台管理</title>
        <!--icheck-->
        <link href="js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
        <link href="js/iCheck/skins/square/square.css" rel="stylesheet">
        <link href="js/iCheck/skins/square/red.css" rel="stylesheet">
        <link href="js/iCheck/skins/square/blue.css" rel="stylesheet">

        <!--dashboard calendar-->
        <link href="css/clndr.css" rel="stylesheet">

        <!--dynamic table-->
        <!--<link href="js/dynamicTable/css/demo_page.css" rel="stylesheet" />-->
        <!--<link href="js/dynamicTable/css/demo_table.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="js/dynamicTable/DT_bootstrap.css" />

        <!--common-->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style-responsive.css" rel="stylesheet">

    </head>
</html>