<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <block th:fragment="jsblock">
        <!-- Framework -->
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.min.js"></script>
        <script src="js/jquery.nicescroll.js"></script>

        <!--easy pie chart-->
        <script src="js/easypiechart/jquery.easypiechart.js"></script>
        <script src="js/easypiechart/easypiechart-init.js"></script>

        <!--Sparkline Chart-->
        <script src="js/sparkline/jquery.sparkline.js"></script>
        <script src="js/sparkline/sparkline-init.js"></script>

        <!--icheck -->
        <script src="js/iCheck/jquery.icheck.js"></script>
        <script src="js/icheck-init.js"></script>

        <!-- jQuery Flot Chart-->
        <script src="js/flot-chart/jquery.flot.js"></script>
        <script src="js/flot-chart/jquery.flot.tooltip.js"></script>
        <script src="js/flot-chart/jquery.flot.resize.js"></script>
        <script src="js/flot-chart/jquery.flot.pie.resize.js"></script>
        <script src="js/flot-chart/jquery.flot.selection.js"></script>
        <script src="js/flot-chart/jquery.flot.stack.js"></script>
        <script src="js/flot-chart/jquery.flot.time.js"></script>
        <script src="js/main-chart.js"></script>

        <!--dynamic table-->
        <script type="text/javascript" language="javascript" src="js/dynamicTable/jquery.dataTables.js"></script>
        <script type="text/javascript" src="js/dynamicTable/DT_bootstrap.js"></script>
        <script src="js/dynamicTable/dynamic_table_init.js"></script>

        <!--common scripts for all pages-->
        <script src="js/scripts.js"></script>
    </block>
</html>