<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="left-side sticky-left-side" th:fragment="menu">
        <div class="logo">
            <a th:href="@{/}"><img src="images/logo.png" style="width: 144px;" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a th:href="@{/}"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav" th:object="${session.SPRING_SECURITY_CONTEXT.authentication.principal.department}">
                <li class="menu">
                    <a th:href="@{/}">
                        <i class="fa fa-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li th:each=" menu: *{menus}" th:class="${breadcrumb.name == menu.name}?'menu-list nav-active':'menu-list'" th:object="${menu}">
                    <a>
                        <i th:class="*{icon}"></i> <span th:text="*{name}"></span>
                    </a>
                    <ul th:if="*{null != subMenus}" class="sub-menu-list">
                        <li th:each="subMenu : *{subMenus}" th:object="${subMenu}" th:class="${breadcrumb.subMenus[0].name == subMenu.name}? 'active':''">
                            <a th:href="@{*{url}}" th:text="*{name}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</html>