<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="left-side sticky-left-side" th:fragment="menu">
        <div class="logo">
            <a th:href="@{/}"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a th:href="@{/}"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu">
                    <a th:href="@{/}">
                        <i class="fa fa-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>系统设置</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/user}"> 用户管理</a></li>
                        <li><a href="#"> 角色管理</a></li>
                        <li><a href="#"> 菜单管理</a></li>
                        <li><a href="#"> 部门管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</html>