<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">
        <th:block th:replace="common/header :: header" />

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <!--数据展示区域-->
                    <section class="panel">
                        <header class="panel-heading">
                            部门列表
                            <span class="tools pull-right">
                                <!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <a id="editable-sample_new" class="btn btn-primary" href="#addModal" data-toggle="modal">
                                            新增 <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped table-hover" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>部门名称</th>
                                        <th>管理菜单权限</th>
                                        <th>导航菜单权限</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="department: ${departments}" th:object="${department}">
                                        <td th:text="*{id}" hidden></td>
                                        <td th:text="*{name}"></td>
                                        <td th:if="*{menus!= null} ">
                                            <span th:each="menu: *{menus}" th:object="${menu}">
                                                <span th:if="*{level>1}" th:text="*{name}"></span>
                                            </span>
                                        </td>
                                        <td th:if="*{navigationPermissions!= null}">
                                            <span th:each="navigationPermission: *{navigationPermissions}" th:object="${navigationPermission}">
                                                <span th:text="*{name}"></span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <button class="btn btn-info" type="button"><i class="fa fa-edit"></i> 编辑 </button>
                                                <a class="btn btn-danger" href="#deleteModal" data-toggle="modal" name="delete" th:value="${department.id}"><i class="fa fa-trash-o"></i> 删除 </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div aria-hidden="true" role="dialog" tabindex="-1" id="addModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">新增部门</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" th:action="@{/department/add}" th:object="${department}" method="post">
                    <div class="form-group">
                        <label for="name" class="col-lg-2 col-sm-2 control-label">部门名称</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control valid" th:field="*{name}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">导航权限</label>

                        <div class="col-md-10">
                            <select multiple="multiple" class="multi-select" id="navigationSelect" name="navigationSelect[]">
                                <option th:each="navigation : ${navigationRoots}" th:value="${navigation.id}" th:text="${navigation.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">菜单权限</label>

                        <div class="col-md-10">
                            <select multiple="multiple" class="multi-select" id="menuSelect"
                                    name="menuSelect[]">
                                <div th:each="menu : ${menus}" th:remove="tag">
                                    <optgroup th:label="${menu.name}">
                                        <option th:each="subMenu : ${menu.subMenus}" th:value="${subMenu.id}" th:text="${subMenu.name}"></option>
                                    </optgroup>
                                </div>
                                <!--<optgroup label="菜单">-->
                                    <!--<option>我</option>-->
                                    <!--<option>你</option>-->
                                <!--</optgroup>-->
                                <!--<optgroup label="导航">-->
                                    <!--<option>它</option>-->
                                    <!--<option>他</option>-->
                                <!--</optgroup>-->
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary" name="add">保存</button>
                        </div>
                    </div>



                </form>

            </div>

        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">删除确认</h4>
            </div>
            <div class="modal-body">

                确认删除部门？

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                <button type="button" class="btn btn-danger"> 确认</button>
            </div>
        </div>
    </div>
</div>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--multi-select-->
<script type="text/javascript" src="js/jquery-multi-select/js/jquery.multi-select.js"></script>
<script type="text/javascript" th:src="@{js/multi-select-init.js}"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
