<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">
        <th:block th:replace="common/header :: header" />

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <!--数据展示区域-->
                    <section class="panel">
                        <header class="panel-heading">
                            部门列表
                            <span class="tools pull-right">
                                <!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <div th:if="${null != message}" th:class="${message.type == 1}?'alert alert-success fade in':'alert alert-block alert-danger fade in'" >
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <span th:text="${message.content}"></span>
                            </div>
                            <div class="adv-table">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#departmentModal" data-toggle="modal" data-title="新增部门">
                                            新增 <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped table-hover" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>部门名称</th>
                                        <th>管理菜单权限</th>
                                        <th>导航菜单权限</th>
                                        <th hidden>导航菜单id</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="department: ${departments}" th:object="${department}">
                                        <td th:text="*{id}" hidden></td>
                                        <td th:text="*{name}"></td>
                                        <td th:if="*{menus!= null} ">
                                            <th:block th:each="menu: *{menus}" th:object="${menu}">
                                                <span class="label label-info" style="font-size: 13px;" th:if="*{level>1}" th:text="*{name}"></span>
                                            </th:block>
                                        </td>
                                        <td>
                                            <th:block th:each="navigation: *{navigations}" th:object="${navigation}">
                                                <span class="label label-info" style="font-size: 13px;" th:text="*{name}"></span>
                                            </th:block>
                                        </td>
                                        <td hidden>
                                            <th:block th:each="navigation: *{navigations}" th:object="${navigation}">
                                                <th:block th:text="|*{id},|" />
                                            </th:block>
                                        </td>
                                        <td>
                                            <span th:class="*{status == 1}?'label label-success':'label label-danger'" th:text="*{status == 1}? '有效':'无效'"></span>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <a class="btn btn-info" href="#departmentModal" data-toggle="modal" th:data-id="*{id}" data-title="编辑部门" th:data-navigation="*{navigations}"><i class="fa fa-edit"></i> 编辑 </a>
                                                <!--<a class="btn btn-danger" href="#deleteModal" data-toggle="modal" th:data-id="*{id}"><i class="fa fa-trash-o"></i> 删除 </a>-->
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div aria-hidden="true" role="dialog" tabindex="-1" id="departmentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" th:action="@{/department/add}" th:object="${department}" method="post">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-lg-2 col-sm-2 control-label">部门名称</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control valid" th:field="*{name}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">导航权限</label>

                        <div class="col-md-10">
                            <select multiple="multiple" class="multi-select" id="navigationSelect" th:field="*{navigations}">
                                <option th:each="navigation : ${navigationRoots}" th:value="${{navigation.id}}" th:text="${navigation.name}" selected="selected"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">菜单权限</label>

                        <div class="col-md-10">
                            <select multiple="multiple" class="multi-select" id="menuSelect" th:field="*{menus}">
                                <div th:each="menu : ${menus}" th:remove="tag">
                                    <optgroup th:label="${menu.name}">
                                        <option th:each="subMenu : ${menu.subMenus}" th:value="${{subMenu.id}}" th:text="${subMenu.name}"></option>
                                    </optgroup>
                                </div>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="status" class="col-lg-2 col-sm-2 control-label">状态</label>
                        <div class="col-md-8">
                            <select class="form-control m-bot15" th:field="*{status}" th:value="*{status}">
                                <option value="0"> 无效</option>
                                <option value="1"> 有效</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                    <button type="submit" class="btn btn-primary" name="add"> 保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div aria-hidden="true" role="dialog" tabindex="-1" id="modifyModal" class="modal fade">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form class="form-horizontal" role="form" th:action="@{/department/modify}" th:object="${department}" method="post">-->
                <!--<div class="modal-header">-->
                    <!--<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>-->
                    <!--<h4 class="modal-title">编辑部门</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<div class="form-group">-->
                        <!--<label for="name" class="col-lg-2 col-sm-2 control-label">部门名称</label>-->
                        <!--<div class="col-lg-8">-->
                            <!--<input type="text" class="form-control valid" th:field="*{name}" required>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-md-2">导航权限</label>-->

                        <!--<div class="col-md-10">-->
                            <!--<select multiple="multiple" class="multi-select" id="navigationSelect" name="navigationSelect[]">-->
                                <!--<option th:each="navigation : ${navigationRoots}" th:value="${navigation.id}" th:text="${navigation.name}"></option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-md-2">菜单权限</label>-->

                        <!--<div class="col-md-10">-->
                            <!--<select multiple="multiple" class="multi-select" id="menuSelect"-->
                                    <!--name="menuSelect[]">-->
                                <!--<div th:each="menu : ${menus}" th:remove="tag">-->
                                    <!--<optgroup th:label="${menu.name}">-->
                                        <!--<option th:each="subMenu : ${menu.subMenus}" th:value="${subMenu.id}" th:text="${subMenu.name}"></option>-->
                                    <!--</optgroup>-->
                                <!--</div>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>-->
                    <!--<button type="submit" class="btn btn-primary" name="modify"> 保存</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div aria-hidden="true" role="dialog" tabindex="-1" id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" th:action="@{/department/delete}" th:object="${department}" method="post">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">删除确认</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" hidden>
                        <label for="id" class="col-lg-2 col-sm-2 control-label">id</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control valid" th:field="*{id}">
                        </div>
                    </div>
                    确认删除部门？

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                    <button type="submit" class="btn btn-danger" name="delete"> 确认</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--multi-select-->
<script type="text/javascript" src="js/jquery-multi-select/js/jquery.multi-select.js"></script>
<!--<script type="text/javascript" th:src="@{js/multi-select-init.js}"></script>-->

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<script>
    $().ready(function() {
        // $("form").validate();

        $('#departmentModal').on('show.bs.modal', function (event) {
            // 清空模态框
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var modal = $(this);
            modal.find('.modal-title').text('' + title);
            // modal.find('.modal-body input').val('');
        });

        // $('#modifyModal').on('show.bs.modal', function (event) {
        //     // 模态框传值
        //     var button = $(event.relatedTarget);
        //     var id = button.data('id');
        //     // var formData = button.data('data');
        //     // var data = formData.split(",");
        //     var modal = $(this);
        //     // modal.find('.modal-body #id').val(id);
        //     // modal.find('.modal-body #name').val(data[0])
        //     // modal.find('.modal-body #nickName').val(data[1])
        //     // modal.find('.modal-body #email').val(data[2])
        //     // modal.find('.modal-body #department').val(data[3])
        //     // alert(""+userid+", "+data);
        // });

        $('#deleteModal').on('show.bs.modal', function (event) {
            // 模态框传id
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var modal = $(this);
            modal.find('.modal-body #id').val(id);
            modal.find('.modal-body #id').val(id);
        });

        $('#navigationSelect').multiSelect({
        });
        $('#menuSelect').multiSelect({
            selectableOptgroup: true
        });



    });
</script>

</body>
</html>
