<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">

        <div class="header-section" th:replace="common/header :: header"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                角色管理
            </h3>
            <ul class="breadcrumb">
                <li> 系统设置 </li>
                <li class="active"> 角色管理 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <!--查询条件区域-->
                    <section class="panel">
                        <header class="panel-heading">输入查询条件</header>
                        <div class="panel-body">
                            <form action="" class="form-inline">
                                <div class="form-group">
                                    <label class="control-label" for="userId">编号：
                                        <input class="form-control" type="text" id="userId" name="userId">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="dept"> 部门：
                                        <input class="form-control" type="text" id="dept" name="dept">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="nickName"> 姓名：
                                        <input class="form-control" type="text" id="nickName" name="nickName">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="userName"> 用户名：
                                        <input class="form-control" type="text" id="userName" name="userName">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="email"> 邮件地址：
                                        <input class="form-control" type="text" id="email" name="email">
                                    </label>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> 查询 </button>
                                    <button class="btn btn-default" type="reset"><i class="fa fa-refresh"></i> 重置 </button>
                                </div>
                            </form>
                        </div>
                    </section>
                    <!--数据展示区域-->
                    <section class="panel">
                        <header class="panel-heading">
                            角色列表
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>部门</th>
                                        <th>姓名</th>
                                        <th class="hidden-phone">用户名</th>
                                        <th class="hidden-phone">邮件地址</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX">
                                        <td>1</td>
                                        <td>管理部</td>
                                        <td>管理员</td>
                                        <td class="center hidden-phone">admin</td>
                                        <td class="center hidden-phone">admin@abc.com</td>
                                    </tr>
                                    <tr class="gradeC">
                                        <td>2</td>
                                        <td>市场部</td>
                                        <td>市场专员</td>
                                        <td class="center hidden-phone">user</td>
                                        <td class="center hidden-phone">user@abc.com</td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>3</td>
                                        <td>IT部</td>
                                        <td>测试袁</td>
                                        <td class="center hidden-phone">test</td>
                                        <td class="center hidden-phone">test@abc.com</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
