<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">

        <div class="header-section" th:replace="common/header :: header"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                用户管理
            </h3>
            <ul class="breadcrumb">
                <li> 系统设置 </li>
                <li class="active"> 用户管理 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <!--查询条件区域-->
                    <!--<section class="panel">-->
                        <!--<header class="panel-heading">输入查询条件</header>-->
                        <!--<div class="panel-body">-->
                            <!--<form action="" class="form-inline">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="qId">编号：-->
                                        <!--<input class="form-control" type="text" id="qId" name="id">-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="qDept"> 部门：-->
                                        <!--<input class="form-control" type="text" id="qDept" name="dept">-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="qNickName"> 姓名：-->
                                        <!--<input class="form-control" type="text" id="qNickName" name="nickName">-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="qName"> 用户名：-->
                                        <!--<input class="form-control" type="text" id="qName" name="userName">-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="qEmail"> 邮件地址：-->
                                        <!--<input class="form-control" type="text" id="qEmail" name="email">-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="pull-right">-->
                                    <!--<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> 查询 </button>-->
                                    <!--<button class="btn btn-default" type="reset"><i class="fa fa-refresh"></i> 重置 </button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</section>-->
                    <!--数据展示区域-->
                    <section class="panel">
                        <header class="panel-heading">
                            用户列表
                            <span class="tools pull-right">
                                <!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <a id="editable-sample_new" class="btn btn-primary" href="#addModal" data-toggle="modal">
                                            新增 <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped table-hover" id="dynamic-table">
                                    <thead>
                                        <tr>
                                            <th hidden>id</th>
                                            <th>工号</th>
                                            <th>部门</th>
                                            <th>姓名</th>
                                            <th>邮件地址</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user,userStat : ${users}">
                                            <td th:text="${user.id}" hidden></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.department.name}"></td>
                                            <td th:text="${user.nickName}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-info" type="button"><i class="fa fa-edit"></i> 编辑 </button>
                                                    <a class="btn btn-danger" href="#deleteModal" data-toggle="modal" name="delete" th:value="${user.id}"><i class="fa fa-trash-o"></i> 删除 </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div aria-hidden="true" role="dialog" tabindex="-1" id="addModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">新增用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" th:action="@{/user/add}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label for="name" class="col-lg-2 col-sm-2 control-label">工号</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control"th:field="*{name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickName" class="col-lg-2 col-sm-2 control-label">姓名</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" th:field="*{nickName}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-lg-2 col-sm-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" th:field="*{email}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="department" class="col-lg-2 col-sm-2 control-label">部门</label>
                        <div class="col-lg-10">
                            <select class="form-control m-bot15" th:field="*{department}" th:value="*{department}">
                                <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 col-sm-2 control-label"></div>
                        <div class="col-lg-10">
                            <span class="label label-danger ">提示</span>
                            <span>
                                新用户初始密码为6个1
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary" name="add">保存</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">删除确认</h4>
            </div>
            <div class="modal-body">

                确认删除用户？

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                <button type="button" class="btn btn-danger"> 确认</button>
            </div>
        </div>
    </div>
</div>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
