<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="travelwink.manage.dao.MenuDao">
    <resultMap id="recursionMenuMap" type="travelwink.manage.domain.entity.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="parent_menu_id" property="parentMenuId"/>
        <result column="priority" property="priority"/>
        <result column="icon" property="icon"/>
        <result column="href" property="href"/>
        <result column="level" property="level"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_date" property="updateDate"/>
        <result column="status" property="status"/>
        <collection property="subMenu"
                    ofType="travelwink.manage.domain.entity.Menu"
                    column="menu_id"
                    select="findByParentId">
        </collection>
    </resultMap>
    <select id="findAll" resultMap="recursionMenuMap" parameterType="travelwink.manage.domain.entity.Menu">
        SELECT * FROM t_menu tm
        <where>
            AND tm.parent_menu_id = 0
            AND status = 1
        </where>
        ORDER BY tm.priority ASC
    </select>
    <select id="findByParentId" parameterType="java.lang.Integer" resultMap="recursionMenuMap">
        SELECT * FROM t_menu tm
        <where>
            tm.parent_menu_id = #{menuId}
            AND status = 1
        </where>
        ORDER BY tm.priority ASC
    </select>
    <select id="getFirstMenu" resultType="travelwink.manage.domain.entity.Menu">
        SELECT * FROM t_menu WHERE parent_menu_id = 0 AND status = 1
    </select>
</mapper>