<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="travelwink.manage.dao.UserDao">
    <select id="queryUser" resultType="travelwink.manage.domain.entity.User">
        SELECT * FROM t_user
    </select>
    <select id="queryUserById" resultType="travelwink.manage.domain.entity.User">
        SELECT * FROM  t_user
        WHERE user_id = #{userId}
    </select>
    <insert id="createUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id" parameterType="travelwink.manage.domain.entity.User">
        INSERT INTO t_user (user_name, password, nick_name, avatar, email, mobile, status, create_date)
        VALUES (#{userName}, #{password}, #{nickName}, #{avatar}, #{email}, #{mobile}, #{status}, #{createDate})
    </insert>
    <update id="modifyUser" parameterType="travelwink.manage.domain.entity.User">
        UPDATE t_user
        <set>
            <if test="userName != null">user_name=#{userName},</if>
            <if test="password != null">password=#{password},</if>
            <if test="nickName != null">nick_name=#{nickName},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="email != null">email=#{email},</if>
            <if test="mobile != null">mobile=#{mobile},</if>
            <if test="status != null">status=#{status},</if>
            <if test="updateDate != null">update_date=#{updateDate},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>
