<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head ::head"></head>
<body>
    <header class="site-header">
        <div class="site-header-top constrained">

            <a  href="#" class="header-logo-wrapper">
                <img th:src="@{/images/logo-b.svg}" alt="CSSC" class="header-logo">
            </a>

            <button type="button" id="button-search" class="icon-link icon-link-header icon-link-search desktop-only">
                <span>搜索</span>
            </button>



            <!--<a class="icon-link icon-link-header icon-link-portal desktop-only" href="/#" target="_blank" style="opacity: 0">Portal</a>-->


            <button type="button" class="mobile-nav-toggle desktop-hide" id="mobile-nav-toggle">
				<span class="hide-text">
                    菜单
				</span>
                <span class="burger-icon">
					<span class="burger-icon-line top"></span>
					<span class="burger-icon-line middle"></span>
					<span class="burger-icon-line bottom"></span>
				</span>
            </button>
        </div>


        <div id="mobile-navigation-panel" class="mobile-navigation-panel">


            <div class="tab-group desktop-hide">
                <button type="button" class="tab active" data-href="#header-menu-wrapper">
					<span class="icon-link icon-link-menu stack-icon-on-tablet">
                        菜单
					</span>
                </button>
                <button type="button" class="tab" data-href="#header-search-wrapper">
					<span class="icon-link icon-link-search stack-icon-on-tablet">
                        搜索
					</span>
                </button>
                <a class="tab" href="#" target="_blank" style="opacity: 0">
                    <span class="icon-link icon-link-header icon-link-portal stack-icon-on-tablet">
                        登陆管理
                    </span>
                </a>
            </div><!-- / .header-tabs -->

            <div class="header-menu-wrapper header-scroll-panel tab-content active" id="header-menu-wrapper" th:replace="common/header ::header">
            </div><!-- / .header-menu-wrapper -->

            <div class="header-search-wrapper header-scroll-panel tab-content" id="header-search-wrapper">
                <div class="constrained constrained--small">
                    <div id="" class="widget quick-search-container" data-indexes="Documents;News;Pages_crawler;PressReleases;Images;Events" data-search-page="/en/search/" data-autocomplete-after="3">

                        <div class="input-wrapper search-input-wrapper search-wrapper js-search-wrapper">
                            <input name="" class="text-input" type="search" />
                            <input name="" type="button" class="button button-submit button-search" value="搜索" />
                            <i class="search-cancel alt js-search-cancel">取消</i>
                        </div>

                        <div class="no-results">
                            <p>没有找到对应的结果</p>
                        </div>

                        <div class="loading-indicator">搜索中...</div>

                        <ul class="quick-search-results-listing">
                        </ul>

                        <a class="icon-link link-internal search-view-all">查看所有结果</a>

                    </div>

                </div>
            </div>	<!-- / .header-search-wrapper -->

        </div>

    </header>

    <div class="hero-widget-zone">
        <!-- Generic SVG definitions that can be used by multiple slides -->
        <svg width="0" height="0" class="svg-defs">
            <defs>
                <clipPath id="clip-path">
                    <path d="M346,520s-98.4-55.48-209.11-203.92C31.8,175.18,0,1,0,1S506.84.7,507,1c99.33,188.25,306.9,180.23,302,180v.08s202.9,8.24,302-180c.16-.3,507,0,507,0s-31.8,174.14-136.89,315C1370.41,464.53,1272,520,1272,520Z" />
                </clipPath>

                <mask id="fade-mask">
                    <linearGradient
                            id="fade-mask-gradient">
                        <stop offset="0" stop-color="white" />
                        <stop offset="0.2" stop-color="white" />
                        <stop offset="0.5" stop-color="black" />
                        <stop offset="1" stop-color="black" />
                    </linearGradient>
                    <rect x="0" y="0" width="1300" height="520" fill="url(#fade-mask-gradient)" />
                </mask>

                <linearGradient
                        id="gradient-2">
                    <stop offset="0" stop-color="#00859B" />
                    <stop offset="1" stop-color="#002E5D" />
                </linearGradient>

                <linearGradient
                        id="gradient-1">
                    <stop offset="0" stop-color="#ffffff" />
                    <stop offset="1" stop-color="#8BBAD8" />
                </linearGradient>
            </defs>
        </svg>
        <div class="widget showcase" id="showcase">
            <!-- Slides //-->
            <ul>
                <div th:each="slide : ${slides}" th:object="${slide}" th:remove="tag">
                    <div th:if="*{imgSize == 1}" th:remove="tag">
                        <!-- full-size image slide -->
                        <li th:class="*{theme == 1}? 'colour-dark background-image':'colour-light background-image'"
                            th:style="|background-image: url(*{imgMobileSrc})|">
                            <div class="text-wrapper">
                                <div class='big-text' th:text="*{title}"></div>
                                <div class='small-text' th:text="*{content}"></div>
                                <a class="icon-link link-internal" href="">查看更多详情</a>
                            </div>
                            <img th:src="*{imgSrc}" class="hero-bg-cover" alt="">
                        </li>
                    </div>

                    <div th:if="*{imgSize != 1}" th:remove="tag">
                        <!-- small image slide -->
                        <li th:class="*{theme == 1}? 'colour-dark gradient-2 cutout':'colour-light gradient-1 cutout'">
                            <div class="constrained">
                                <div class="text-wrapper">
                                    <div class='big-text' th:text="*{title}"></div>
                                    <div class='small-text' th:text="*{content}"></div>
                                    <a class="icon-link link-internal" href="/#">查看更多详情</a>
                                </div>
                                <div class="image-wrapper">
                                    <img th:src="*{imgSrc}" alt="">
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>

            <!-- Spinny thing -->
            <div class="spiral-overlay-wrapper">
                <div class="constrained">
                    <div class="spiral-overlay" id="overlay"></div>
                </div>
            </div>

            <!-- .text-wrapper divs from each slide are dynamically placed here with JS so they always appear on top of the overlay fade (transitioning opacity was causing new stacking context) -->
            <div id="text-wrapper-container" class="text-wrapper-container">
                <div class="constrained">
                </div>
            </div>

            <div class="showcase-pager" id="showcase-pager">
                <div class="constrained">
                </div>
            </div>

            <!-- 'fade' overlay that matches background images/gradient to make it look like spinny thing is fading out -->
            <div class="overlay-fade-wrapper">
                <div th:each="slide:${slides}" th:remove="tag">
                    <div th:if="${slide.imgSize == 1}" th:remove="tag">
                        <!-- Fade for full-size image slide -->
                        <svg class="overlay-fade hero-bg-cover" width="1300" height="520" viewbox="0 0 1300 520">
                            <image x="0" y="0" width="1300" height="520" preserveAspectRatio="xMinYMid slice" th:xlink:href="${slide.imgSrc}" mask="url(#fade-mask)"></image>
                        </svg>
                    </div>
                    <div th:if="${slide.imgSize != 1}" th:remove="tag">
                        <!-- Fade for gradient background -->
                        <svg  class="overlay-fade hero-bg-cover" width="1300" height="520" viewbox="0 0 1300 520">
                            <div th:if="${slide.theme == 1}" th:remove="tag">
                                <rect x="0" y="0" width="1300" height="520" fill="url(#gradient-1)" mask="url(#fade-mask)" />
                            </div>
                            <div th:if="${slide.theme == 2}" th:remove="tag">
                                <rect x="0" y="0" width="1300" height="520" fill="url(#gradient-2)" mask="url(#fade-mask)" />
                            </div>
                        </svg>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="main">
        <div class="constrained page-title"></div>
        <div class="main-widget-zone">
            <div class="widget widget-container heading-container container-background-light">
                <div class="constrained">
                    <div>
                        <div class="widget widget-column-container">
                            <div class="constrained grid">
                                <div class="row equal-heights">
                                    <div class="column one-third">
                                        <article class="widget widget-bg-gr widget-latest-content" th:object="${lastRelease}">
                                            <div class="content-type">最新发布</div>
                                            <div class="widget-header" th:text="*{title}"></div>
                                            <div class="meta" th:text="|发布时间: *{#dates.format(createDate, 'yyyy/MM/ dd')}|"></div>
                                            <ul class="actions-list">
                                                <li>
                                                    <a class="icon-link link-internal" th:href="*{fkPageId}==null?'':@{*{fkPageId}}">查看详情</a>
                                                </li>
                                                <li>
                                                    <a class="icon-link link-document pdf" th:href="*{fileUrl}==null?'': @{*{fileUrl}}" target="_blank">
                                                        下载
                                                        <!--<span>0.12MB</span>-->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="icon-link link-internal" href="">查看所有已发布的内容</a>
                                                </li>
                                            </ul>
                                        </article>
                                    </div>
                                    <div th:each="content1:${contentsAtHome}" th:object="${content1}" th:remove="tag">
                                        <div th:if="*{homeLocation ==1}" class='column one-third'>
                                            <div class="widget widget-document-download widget-bg widget-bg-gr" style="min-width: 355px">
                                                <div class="content-type" th:text="*{contentType.name}"></div>
                                                <h2 class="widget-header widget-header--wrap" th:text="*{title}"></h2>
                                                <div class="meta" th:if="*{createDate !=null}" th:text="|更新于: *{#dates.format(createDate, 'yyyy/MM/ dd')}|"></div>
                                                <p th:if="*{description!=null}" th:text="*{description}"></p>
                                                <a th:if="*{fkPageId!=null}" class="icon-link link-internal" th:href="@{|/page/*{fkPageId}|}">查看详情</a>
                                                <a th:if="*{fileUrl!=null}" class="icon-link link-document pdf" th:href="@{*{fileUrl}}" target="_blank">下载
                                                    <!--<span>32.45MB</span>-->
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget widget-feature-signpost home_middle background-position-top" style="background-image: url('images/middle.jpg')">
                <div class="constrained clearfix">
                    <div class="text-wrapper">
                        <div class="content-type">探索</div>
                        <h2 class="widget-feature-header">系列引擎</h2>
                        <p>X-DF双燃料发动机或柴油发动机。 在这里浏览我们的产品</p>
                        <a href="" class="icon-link link-internal">查看详情</a>
                    </div>
                </div>
            </div>

            <style>
                @media(max-width: 667px) {.home_middle{background-image: url('images/middle_small.jpg') !important;}}
            </style>

            <div class="widget widget-container heading-container container-background-dark" data-auto-indent="">
                <div class="constrained">
                    <div>
                        <div class="widget widget-column-container ">
                            <div class="constrained grid">
                                <div class="row equal-heights">
                                    <div th:each="content2:${contentsAtHome}" th:object="${content2}" th:remove="tag">
                                        <div th:if="*{homeLocation ==2}" class="column one-third">
                                            <div class="widget widget-bg widget-bg-gr widget-cta">
                                                <div class="content-type" th:text="*{contentType.name}"></div>
                                                <h2 class="widget-header widget-header--uppercase" th:text="*{title}">联系我们</h2>
                                                <p th:if="*{description!=null}" th:text="*{description}"></p>
                                                <a th:if="*{fkPageId!=null}" class="icon-link link-internal" th:href="@{*{fkPageId}}">查看详情</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="site-footer" th:replace="common/footer :: footer">
    </footer>

    <script th:src="@{js/main.min.js}"></script>
    <script th:src="@{js/swiper/4.4.6/js/swiper.min.js}"></script>
    <script th:src="@{js/showcase.js}"></script>
</body>
</html>