<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" th:content="${keywords}">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <div class="site-header-top constrained">
            <a href="/" class="header-logo-wrapper">
                <img src="/images/logo-wingd-top.svg" alt="WinGD" class="header-logo">
            </a>
            <button id="button-search" class="icon-link icon-link-header icon-link-search desktop-only" type="button">
                <span>搜索</span>
            </button>
        </div>
    </header>
</body>
</html>