<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head ::head"></head>
<body>
<header class="site-header">
    <div class="site-header-top constrained">

        <a th:href="@{/}" class="header-logo-wrapper">
            <img th:src="@{/images/logo-b.svg}" alt="WinGD" class="header-logo">
        </a>

        <button type="button" id="button-search" class="icon-link icon-link-header icon-link-search desktop-only">
            <span>搜索</span>
        </button>

        <!--<a class="icon-link icon-link-header icon-link-portal desktop-only" href="/" target="_blank" style="opacity: 0">Portal</a>-->

        <button type="button" class="mobile-nav-toggle desktop-hide" id="mobile-nav-toggle">
				<span class="hide-text">
                    菜单
				</span>
            <span class="burger-icon">
					<span class="burger-icon-line top"></span>
					<span class="burger-icon-line middle"></span>
					<span class="burger-icon-line bottom"></span>
				</span>
        </button>
    </div>


    <div id="mobile-navigation-panel" class="mobile-navigation-panel">


        <div class="tab-group desktop-hide">
            <button type="button" class="tab active" data-href="#header-menu-wrapper">
					<span class="icon-link icon-link-menu stack-icon-on-tablet">
                        菜单
					</span>
            </button>
            <button type="button" class="tab" data-href="#header-search-wrapper">
					<span class="icon-link icon-link-search stack-icon-on-tablet">
                        搜索
					</span>
            </button>
            <a class="tab" href="#" target="_blank" style="opacity: 0">
                    <span class="icon-link icon-link-header icon-link-portal stack-icon-on-tablet">
                        登陆管理
                    </span>
            </a>
        </div><!-- / .header-tabs -->

        <div class="header-menu-wrapper header-scroll-panel tab-content active" id="header-menu-wrapper" th:replace="common/header ::header">
        </div><!-- / .header-menu-wrapper -->

        <div class="header-search-wrapper header-scroll-panel tab-content" id="header-search-wrapper">
            <div class="constrained constrained--small">
                <div id="" class="widget quick-search-container" data-indexes="Documents;News;Pages_crawler;PressReleases;Images;Events" data-search-page="/en/search/" data-autocomplete-after="3">

                    <div class="input-wrapper search-input-wrapper search-wrapper js-search-wrapper">
                        <input name="" class="text-input" type="search" />
                        <input name="" type="button" class="button button-submit button-search" value="搜索" />
                        <i class="search-cancel alt js-search-cancel">取消</i>
                    </div>

                    <div class="no-results">
                        <p>没有找到对应的结果</p>
                    </div>

                    <div class="loading-indicator">搜索中...</div>

                    <ul class="quick-search-results-listing">
                    </ul>

                    <a class="icon-link link-internal search-view-all">查看所有结果</a>

                </div>

            </div>
        </div>	<!-- / .header-search-wrapper -->

    </div>

</header>

<div th:if="${null!=page.headImg}" class="hero-widget-zone">
    <!-- full image background layout //-->
    <div class="widget widget-page-header full-image-background background-position-middle " th:style="|background-image:url(/web/${page.headImg});|">
        <div class="constrained">
            <div class="text-wrapper">
            </div>
            <div class="overlay overlay-2">
            </div>
        </div>
    </div>

    <style th:text="|@media(max-width: 667px){.full-image-background{background-image: url(/web/${page.headImgVertical}) !important;}}|"> </style>
</div>

<!--面包屑导航-->
<div class="widget breadcrumbs">
    <div class="constrained">
        <div class="breadrumbs-list" th:object="${breadcrumbs}">
            <a th:href='@{/}'>首页</a> >
            <span th:if="*{null==children}" th:remove="tag">
                <span th:text="*{name}"></span>
            </span>
            <span th:if="*{null != children}" th:remove="tag">
                <a th:href="@{*{url}}" th:text="*{name}"></a>
                >
                <span th:text="*{children[0].name}"></span>
                    <span th:if="*{null != children[0].children}" th:remove="tag">
                        >
                    <a href='/en/about-wingd/' th:text="*{children[0].children[0].name}"></a>
                    <span th:if="*{null != children[0].children}" th:remove="tag">
                        >
                        <span th:text="*{children[0].children[0].name}"></span>
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>

<div class="main">
    <div class="main-widget-zone">
        <!--左侧导航菜单-->
        <div class="secondary_navigation">
            <div class="constrained">
                <div class="subnav">
                    <th:block th:if="${null != page.navigation and page.navigation.parentId != 0}">
                        <a th:href="@{${secondaryNavigation.url}}" class='subnav-back' th:text="${secondaryNavigation.name}"></a>
                        <ul class='subnav-list'>
                            <li class='sub-nav-parent'>
                                <ul>
                                    <li th:each="subNavigation : ${secondaryNavigation.children}"
                                        th:class="${null!=subNavigation.children && subNavigation.children.size()>0}?'has-children':''"
                                        th:classappend="${subNavigation.id == page.navigation.id}? 'active':''">
                                        <a th:href="@{${subNavigation.url}}" th:text="${subNavigation.name}"></a>
                                        <ul th:if="${null!=subNavigation.children && subNavigation.children.size()>0}" >
                                            <li th:each="child: ${subNavigation.children}" th:class="${null!=child.children && child.children.size()>0}?'has-children':''">
                                                <a th:href="@{${child.url}}" th:text="${child.name}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </th:block>
                    <th:block th:if="@{${null != page.navigation and page.navigation.parentId == 0}}">
                        <a th:href="@{/}" class='subnav-back' th:text="首页"></a>
                        <ul class='subnav-list'>
                            <li class='sub-nav-parent' th:each="navigation : ${navigationList}"
                                th:class="${navigation.id == page.navigation.id}? 'active':''"
                                th:classappend="${null!=navigation.children && navigation.children.size() > 0}?'has-children':'' ">
                                <a th:href="@{${navigation.url}}" th:text="${navigation.name}"></a>
                                <ul th:if="${navigation.id == page.navigation.id}">
                                    <li th:each="subNavigation: ${navigation.children}" th:class="${null!=subNavigation.children && subNavigation.children.size()>0}? 'has-children' : ''">
                                        <a th:href="@{${subNavigation.url}}" th:text="${subNavigation.name}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>

        <!--标题-->
        <div class="constrained page-title" data-auto-indent="">
            <h1 th:if="${null != page.navigation}" th:text="${page.navigation.name}"></h1>
            <h1 th:if="${null == page.navigation}" th:text="${page.title}"></h1>
        </div>

        <!--正文-->
        <div class="main-widget-zone">
            <div class="constrained constrained--indented">
                <div class="constrained page-title indented auto-indented" data-auto-indent="">

                    <div class="rich-text">
                        <th:block th:each="paragraph : ${page.paragraphs}">
                            <p th:if="${paragraph.type == 1}" th:class="${paragraph.style}" th:utext="${paragraph.text}"></p>
                            <div th:if="${paragraph.type == 2}" class="image-caption">
                                <div class="image-caption-image">
                                    <img th:src="@{${paragraph.text}}" alt="">
                                </div>
                                <br/>
                            </div>
                        </th:block>
                        <p>&nbsp;</p>
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${page.customerForm == 1}" class="widget constrained constrained--indented">
            <div class="form">
                <div class="biz-form form-wrapper">
                    <div class="form-horizontal">
                        <div class="editing-form-category category_">
                            <div class="editing-form-category-fields">
                                <div class="form-group">
                                    <label class="control-label editing-form-label" for="">
                                        姓名 *
                                    </label>
                                    <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                                        <input name="" type="text" maxlength="200" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label editing-form-label" for="">
                                        联系电话 *
                                    </label>
                                    <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                                        <input name="p$lt$ctl03$pageplaceholder$p$lt$ctl01$WinGDBizForm$viewBiz$Phone$txtText" type="text" maxlength="200" id="p_lt_ctl03_pageplaceholder_p_lt_ctl01_WinGDBizForm_viewBiz_Phone_txtText" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label editing-form-label" for="">
                                        电子邮件 *
                                    </label>
                                    <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                                        <input name="" type="text" maxlength="200" class="form-control">
                                    </div>
                                </div>
                                <div id="field_CompanyName" class="form-group">
                                    <label class="control-label editing-form-label" for="">
                                        公司名称 *
                                    </label>
                                    <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                                        <input name="p$lt$ctl03$pageplaceholder$p$lt$ctl01$WinGDBizForm$viewBiz$CompanyName$txtText" type="text" maxlength="200" id="p_lt_ctl03_pageplaceholder_p_lt_ctl01_WinGDBizForm_viewBiz_CompanyName_txtText" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label editing-form-label" for="">
                                        您的留言
                                    </label>
                                    <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                                        <textarea name="" rows="2" cols="20" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-submit FieldPanel">
                            <input type="submit" name="" value="发送联系方式" class="FormButton btn btn-primary">
                        </div>
                    </div>
                </div>
                <div class="loading-indicator js-loading-indicator">
                    Submitting
                </div>
            </div>
        </div>


        <!--二级页面链接模块-->
        <th:block th:if="${page.navigation != null}">
            <div th:if="${page.navigation.level==1}" th:each="subNavigation : ${secondaryNavigation.children}" class="widget constrained constrained--indented child-listing-wrapper">
                <div class="constrained constrained--indented">
                    <div th:class="${secondaryNavigation.linkStyle==1}?'widget widget-child-listing gradient-1 colour-light': 'widget widget-child-listing gradient-3' " th:classappend="${subNavigation.imgUrl!=null}? 'has-image':''">
                        <div class="text-wrapper">
                            <h2 th:text="${subNavigation.name}"></h2>
                            <p th:text="${subNavigation.desc}"></p>
                            <a th:href="@{${subNavigation.url}}" class="icon-link link-internal">访问页面</a>
                        </div>
                        <div th:if="${subNavigation.imgUrl!=null}" class="image-wrapper" th:style="|background-image: url(/web/@{${subNavigation.imgUrl}})|">
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <!--页脚链接-->
    <div th:if="${null!=page.footerLinks && page.footerLinks.size()>0}" class='widget widget-container heading-container'
         th:classappend="${page.footerLinkStyle == 1}?'container-background-dark':'container-background-light'">
        <div class='constrained'>
            <div class='widget widget-column-container'
                 th:classappend="${page.footerLinkStyle == 1}?'container-background-dark':''">
                <div class='constrained grid'>
                    <div class='row equal-heights'>
                        <div class='column one-third' th:each="footerLink:${page.footerLinks}">
                            <div class="widget widget-bg widget-bg-gr widget-cta">
                                <div class="content-type" th:text="${footerLink.contentType.name}"></div>
                                <h2 class="widget-header widget-header--uppercase" th:text="${footerLink.title}">
                                </h2>
                                <p th:if="${null==footerLink.file}" th:text="${footerLink.desc}"></p>
                                <div th:if="${null!=footerLink.file}" class="meta" th:text="|上传日期：${#dates.format(footerLink.file.createDate,'yyyy-MM-dd')}|"></div>
                                <!--<a class="icon-link link-external" th:href="@{${footerLink.file.url}}" target="_blank">下载文件查看详情</a>-->
                                <a th:if="${null==footerLink.file}" class="icon-link link-external" target="_blank">查看详情</a>
                                <a th:if="${null!=footerLink.file}" class="icon-link link-document pdf" th:href="@{${footerLink.file.url}}">下载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





<!--页脚-->
<footer class="site-footer" th:replace="common/footer :: footer">
</footer>

<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/swiper/4.4.6/js/swiper.min.js}"></script>
<script th:src="@{/js/showcase.js}"></script>
</body>
</html>