<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <!--icheck-->
    <link href="js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="css/clndr.css" rel="stylesheet">

    <!--common-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">


</head>
<body class="sticky-header">
    <section>
        <div class="left-side sticky-left-side">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="logo-icon text-center">
                <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
            </div>
            <div class="left-side-inner">
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="menu-list">
                        <a href="">
                            <i class="fa fa-cogs"></i>
                            <span>系统设置</span>
                        </a>
                        <ul class="sub-menu-list">
                            <li>
                                <a href="user.html">用户管理</a>
                            </li>
                        </ul>
                        <ul class="sub-menu-list">
                            <li>
                                <a href="">角色管理</a>
                            </li>
                        </ul>
                        <ul class="sub-menu-list">
                            <li>
                                <a href="">菜单管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="header-section">
                <a href="#" class="toggle-btn"><i class="fa fa-bars"></i></a>
                <div class="menu-right">
                    <ul class="notification-menu">
                        <li>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/photos/user-avatar.png" alt="">
                                John Doe
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="#"><i class="fa fa-sign-out">退出登陆</i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-heading"></div>
            <div class="wrapper">

            </div>
        </div>
    </section>

    <!-- Framework -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>

    <!--easy pie chart-->
    <script src="js/easypiechart/jquery.easypiechart.js"></script>
    <script src="js/easypiechart/easypiechart-init.js"></script>

    <!--Sparkline Chart-->
    <script src="js/sparkline/jquery.sparkline.js"></script>
    <script src="js/sparkline/sparkline-init.js"></script>

    <!--icheck -->
    <script src="js/iCheck/jquery.icheck.js"></script>
    <script src="js/icheck-init.js"></script>

    <!-- jQuery Flot Chart-->
    <script src="js/flot-chart/jquery.flot.js"></script>
    <script src="js/flot-chart/jquery.flot.tooltip.js"></script>
    <script src="js/flot-chart/jquery.flot.resize.js"></script>
    <script src="js/flot-chart/jquery.flot.pie.resize.js"></script>
    <script src="js/flot-chart/jquery.flot.selection.js"></script>
    <script src="js/flot-chart/jquery.flot.stack.js"></script>
    <script src="js/flot-chart/jquery.flot.time.js"></script>
    <script src="js/main-chart.js"></script>

    <!--common scripts for all pages-->
    <script src="js/scripts.js"></script>
</body>
</html>