<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head"></head>

<body class="sticky-header">

<section>
    <div th:replace="common/menu :: menu"></div>

    <!-- main content start-->
    <div class="main-content">
        <th:block th:replace="common/header :: header" />

        <div style="padding: 11% 0px">
            <p style="font-size: 8rem;text-align: center;line-height: 300px">欢迎使用</p>
        </div>

        <!--footer section start-->
        <footer th:replace="common/footer :: footer"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->


</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
