<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>
<body class="sticky-header">
    <section>
        <div class="left-side sticky-left-side" th:replace="common/menu :: menu"></div>
        <div class="main-content">
            <div class="header-section" th:replace="common/header :: header"></div>
            <div class="page-heading">
                <h3>
                    用户管理
                </h3>
                <ul class="breadcrumb">
                    <li>系统设置</li>
                    <li class="active">用户管理</li>
                </ul>
            </div>
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">输入查询条件</header>
                            <div class="panel-body">
                                <form action="" class="form-inline">
                                    <div class="form-group">
                                        <label class="control-label" for="userId">编号：
                                            <input class="form-control" type="text" id="userId" name="userId">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="dept"> 部门：
                                            <input class="form-control" type="text" id="dept" name="dept">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="nickName"> 姓名：
                                            <input class="form-control" type="text" id="nickName" name="nickName">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="userName"> 用户名：
                                            <input class="form-control" type="text" id="userName" name="userName">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="email"> 邮件地址：
                                            <input class="form-control" type="text" id="email" name="email">
                                        </label>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> 查询 </button>
                                        <button class="btn btn-default" type="reset"><i class="fa fa-refresh"></i> 重置 </button>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <section class="panel">
                            <header class="panel-heading">
                                用户列表
                                <span class="tools pull-right">
                                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                                </span>
                            </header>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <div class="dataTables_wrapper form-inline" role="grid" id="dynamic-table_wrapper">
                                        <table id="dynamic-table" class="table table-bordered table-hover table-striped dataTable" aria-describedby="dynamic-table_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">编号</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">部门</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">姓名</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">用户名</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">邮箱地址</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="gradeX odd">
                                                    <td>1</td>
                                                    <td>管理部</td>
                                                    <td>管理员</td>
                                                    <td>admin</td>
                                                    <td>admin@123.com</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs pull-right">
                                                            <button class="btn btn-info" type="button"><i class="fa fa-edit"></i> 编辑 </button>
                                                            <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i> 删除 </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="gradeX odd">
                                                    <td>2</td>
                                                    <td>市场部</td>
                                                    <td>专员</td>
                                                    <td>user</td>
                                                    <td>user@123.com</td>
                                                    <td>
                                                        <div class="btn-group btn-group-xs pull-right">
                                                            <button class="btn btn-info" type="button"><i class="fa fa-edit"></i> 编辑 </button>
                                                            <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i> 删除 </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <footer th:replace="common/footer :: footer"></footer>
        </div>
    </section>

    <!-- Framework -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>

    <!--easy pie chart-->
    <script src="js/easypiechart/jquery.easypiechart.js"></script>
    <script src="js/easypiechart/easypiechart-init.js"></script>

    <!--Sparkline Chart-->
    <script src="js/sparkline/jquery.sparkline.js"></script>
    <script src="js/sparkline/sparkline-init.js"></script>

    <!--icheck -->
    <script src="js/iCheck/jquery.icheck.js"></script>
    <script src="js/icheck-init.js"></script>

    <!-- jQuery Flot Chart-->
    <script src="js/flot-chart/jquery.flot.js"></script>
    <script src="js/flot-chart/jquery.flot.tooltip.js"></script>
    <script src="js/flot-chart/jquery.flot.resize.js"></script>
    <script src="js/flot-chart/jquery.flot.pie.resize.js"></script>
    <script src="js/flot-chart/jquery.flot.selection.js"></script>
    <script src="js/flot-chart/jquery.flot.stack.js"></script>
    <script src="js/flot-chart/jquery.flot.time.js"></script>
    <script src="js/main-chart.js"></script>

    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="js/dynamicTable/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/dynamicTable/DT_bootstrap.js"></script>
    <script src="js/dynamicTable/dynamic_table_init.js"></script>

    <!--common scripts for all pages-->
    <script src="js/scripts.js"></script>
</body>
</html>