<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆后台管理</title>

    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/style-responsive.css}" rel="stylesheet">

</head>
<body class="login-body">

    <div class="container">
        <!--<span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>-->
        <form class="form-signin" th:action="@{/login}" method="post">
            <div class="form-signin-heading text-center">
                <h1 class="sign-title">登 陆</h1>
                <img th:src="@{images/logo-b.svg}" style="width: 113px;" alt=""/>

            </div>
            <div class="login-wrap">
                <input id="name" name="name" type="text" class="form-control" placeholder="工号" required>
                <input id="password" name="password" type="password" class="form-control" placeholder="密码" required>

                <div th:if="${param.error}" class="alert alert-block alert-danger fade in">
                    <button class="close close-sm" type="button" data-dismiss="alert">
                        <i class="fa fa-times"></i>
                    </button>
                    <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
                </div>

                <button id="signIn" class="btn btn-lg btn-login btn-block" type="submit">
                    <i class="fa fa-check"></i>
                </button>
            </div>

        </form>

    </div>


<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>

<script type="text/javascript">

</script>


</body>
</html>